################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task2/apz-pzpi-21-3-dzabakhidze-davyd-task2/backend.zip
/Task2/apz-pzpi-21-3-dzabakhidze-davyd-task2/backend/backend
